<% flash.each do |success,msg| %>
  <div class="alert alert-primary mb-0" role="alert">
    <%= msg %>
  </div>
<% end %>
<header class="hero"> 
  <nav class="navbar max-width-auto">
    <i class="fa-sharp fa-solid fa-bars" id="hamburgerMenu"></i>
    <i class="fa-sharp fa-solid fa-times close-menu" style="display: none" id="closeHamBurger"></i>
    <div class="drawer">
      <div class="mobileNav">
        <ul>
          <li><li><a  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">About Us</a></li>
          <li><li><a  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" style='margin-bottom: 11px'>Job Search</a></li>
          <li>
            <a data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Employer Post / Job</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="n-left">
      <%= image_tag  "https://www.jobget.com/landing-pages-2021-multimedia-assets/LOGO.svg",:class => "logo"%>
      <a class="job" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">About Us</a>
    </div>
    <div class="n-right">
      <a class="job" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"> Job Search</a>
      <a class="job" data-bs-toggle="modal" data-bs-target="#exampleModal" id="post" data-bs-whatever="@mdo"> Employer Post / Job</a>
    </div>
  </nav>
  <div class="hero-content">
    <div class="textContent">
      <span>
        Apply Today, <br />
        Start Tomorrow
      </span>
      <span> Talk to top employers in minutes. </span>
      <a data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Get Hired Today</a>
      <div class="nativeAppLinks">
        <div class="apple">
            <%=image_tag "apple.png"%>
          <div class="rating">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>4.9/5.0</span>
          </div>
        </div>
        <div class="google">
          <%= image_tag  "google.png" %>
          <div class="rating">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>4.7/5.0</span>
          </div>
        </div>
      </div>
    </div>
    <%= image_tag  "jobSeeker.jpg",:class => "jobSeekers fadein"%>
  </div>
</header>
<main class="maincontent ">
  <section class="featuredInRow max-width-auto">
    <span class="asSeen">As Seen On</span>
    <%= image_tag  "tc-currunch.png" %>
    <%= image_tag  "forbes.jpg" %>
    <%= image_tag  "base.jpg" %>
    <%= image_tag  "npr.jpg" %>
    <%= image_tag  "mit-news.jpg" %>
    <%= image_tag  "booking.jpg" %>
  </section>
  <section class="maincontent-information">
    <span>Experience the JobGet Difference</span>
    <span
      >With our app, you can create a profile, apply to one-click jobs and
      chat with employers all within 5 minutes.</span
    >
    <div class="indiviual-information max-width-auto">
      <%= image_tag  "asset1.jpg",:class => "fadein"%>
      <div class="right-indiviual-information">
        <span>Find Jobs Close to Home</span>
        <span
          >Your next job could be right around the corner. Our advanced
          search feature is built to help you find the best local
          jobs.</span
        >
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Search Local</button>
      </div>
    </div>
    <div class="indiviual-information profile max-width-auto">
      <div class="right-indiviual-information">
        <span>A Profile That’s Uniquely You</span>
        <span
          >In just a few minutes, create a unique profile that stands out
          from the crowd. We’ll even turn it into a resume for you!</span
        >
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Build Your Profile</button>
      </div>
      <%= image_tag  "asset2.jpg",:class => "fadein"%>
    </div>


    <div class="indiviual-information max-width-auto">
      <%= image_tag  "asset3.jpg" %>
      <div class="right-indiviual-information">
        <span>Chat with Employers </span>
        <span
          >Connect with hiring managers the modern way with our in-app
          messaging and video call features.</span
        >
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Get Started Now</button>
      </div>
    </div>
    <div class="indiviual-information profile max-width-auto">
      <div class="right-indiviual-information">
        <span>Connect with Community</span>
        <span
          >Finding a new job is easier with a community supporting you. Ask
          for advice or help others prepare for their next role.</span
        >
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Join the Community</button>
      </div>
      <%= image_tag  "asset4.jpg" ,:class => "fadein" %>
    </div>
  </section>

  <section class="buissness max-width-auto">
    <span>Find your next job from 10,000+ local businesses</span>

    <div>
      <div>
      <%= render 'layouts/svg'%>
      </div>
    </div>
  </section>

  <section class="testimonial">
    <div class="testimonial-container max-width-center">
      <span>Join 1 Million+ Job Seekers</span>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slider-content">
              <p>
                “Best decision to get this app, I just got hired at multiple
                jobs and can’t wait to work!“
              </p>
              <div class="source">Google Play Store</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-content">
              <p>
                “Best decision to get this app, I just got hired at multiple
                jobs and can’t wait to work!“
              </p>
              <div class="source">Google Play Store</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-content">
              <p>
                “Best decision to get this app, I just got hired at multiple
                jobs and can’t wait to work!“
              </p>
              <div class="source">Google Play Store</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-content">
              <p>
                “Best decision to get this app, I just got hired at multiple
                jobs and can’t wait to work!“
              </p>
              <div class="source">Google Play Store</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-content">
              <p>
                “Best decision to get this app, I just got hired at multiple
                jobs and can’t wait to work!“
              </p>
              <div class="source">Google Play Store</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-content">
              <p>
                “Best decision to get this app, I just got hired at multiple
                jobs and can’t wait to work!“
              </p>
              <div class="source">Google Play Store</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-content">
              <p>
                “Best decision to get this app, I just got hired at multiple
                jobs and can’t wait to work!“
              </p>
              <div class="source">Google Play Store</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-content">
              <p>
                “Best decision to get this app, I just got hired at multiple
                jobs and can’t wait to work!“
              </p>
              <div class="source">Google Play Store</div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>

  <section class="findJobs">
    <span>Find Jobs</span>
    <a href="#">View All 200+ Locations</a>
    <div class="top-locations">
      <a href="#">
        <%=image_tag "RectangleBoston.jpg"%>
        <div class="gradient">
          <div>Boston, MA</div>
          <div>97,000+ Jobs</div>
        </div>
      </a>
      <a href="#">
        <%=image_tag "RectangleNewyork.jpg"%>
        <div class="gradient">
          <div>New York City, NY</div>
          <div>180,000+ Jobs</div>
        </div>
      </a>
      <a href="#">
        <%=image_tag "RectangleAtlanta.jpg"%>
        <div class="gradient">
          <div>Atlanta, GA</div>
          <div>75,000+ Jobs</div>
        </div>
      </a>
      <a href="#">
        <%=image_tag "RectangleHouston.jpg"%>
        <div class="gradient">
          <div>Houston, TX</div>
          <div>57,000+ Jobs</div>
        </div>
      </a>
      <a href="#">
        <%=image_tag "RectanglePhoenix.jpg"%>
        <div class="gr adient">
          <div>Phoenix, AZ</div>
          <div>55,000+ Jobs</div>
        </div>
      </a>
      <a href="#">
        <%=image_tag "RectanglePhiladelphia.jpg"%>
        <div class="gradient">
          <div>Philadelphia, PA</div>
          <div>98,000+ Jobs</div>
        </div>
      </a>
    </div>
  </section>
</main>
<footer>
  <div class="footer-container max-width-auto">
    <div>
      <svg width="108" height="24" viewBox="0 0 108 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
        <path d="M14.3698 0.776855H10.5235V16.7478C10.5235 19.047 9.23118 20.4452 7.10797 20.4452C5.01559 20.4452 3.75401 18.9539 3.75401 16.2816H0C0 21.3464 3.4155 24.0185 7.23105 24.0185C11.4158 24.0185 14.3698 21.2221 14.3698 16.9652V0.776855Z" fill="white"/>
        <path d="M26.0007 7.64355C21.3543 7.64355 17.9387 11.0926 17.9387 15.8155C17.9387 20.5073 21.3543 23.9252 26.0007 23.9252C30.6469 23.9252 34.0626 20.5073 34.0626 15.8155C34.0626 11.0926 30.6469 7.64355 26.0007 7.64355ZM26.0007 10.9372C28.493 10.9372 30.3393 12.988 30.3393 15.8155C30.3393 18.612 28.493 20.6316 26.0007 20.6316C23.5083 20.6316 21.6927 18.612 21.6927 15.8155C21.6927 12.988 23.5083 10.9372 26.0007 10.9372Z" fill="white"/>
        <path d="M41.5492 0H37.8567V23.6145H41.1799L41.3338 21.7813C42.1954 22.962 43.7954 23.9253 46.134 23.9253C50.3188 23.9253 53.1804 20.4763 53.1804 15.7845C53.1804 11.0615 50.3188 7.64361 46.134 7.64361C43.857 7.64361 42.38 8.51369 41.5492 9.50794V0ZM45.334 10.9372C47.7341 10.9372 49.4572 12.8327 49.4572 15.7845C49.4572 18.7363 47.7341 20.6317 45.334 20.6317C43.4878 20.6317 42.3493 19.6374 41.5492 18.3013V13.2676C42.3493 11.9316 43.4878 10.9372 45.334 10.9372Z" fill="white"/>
        <path d="M67.1766 0.372803C60.4686 0.372803 55.6685 5.40649 55.6685 12.2111C55.6685 18.9538 60.5917 24.0184 67.4843 24.0184C70.8383 24.0184 73.6692 22.9931 75.7923 20.9734V11.2169H66.6227V14.5726H71.9768V19.047C70.746 19.9169 69.2382 20.4452 67.4843 20.4452C62.7456 20.4452 59.5763 16.9651 59.5763 12.2111C59.5763 7.395 62.6225 3.9461 67.1766 3.9461C69.5767 3.9461 71.4845 5.06464 72.8076 6.55613L75.2385 3.75962C73.1153 1.55354 70.6228 0.372803 67.1766 0.372803Z" fill="white"/>
        <path d="M86.728 7.64355C82.2662 7.64355 79.1277 11.0926 79.1277 15.8155C79.1277 20.5073 82.2047 23.9252 87.0049 23.9252C89.8666 23.9252 91.8975 22.962 93.436 21.0976L90.882 18.9848C90.1743 19.9791 88.8512 20.787 87.0357 20.787C84.451 20.787 82.974 19.4198 82.8817 16.934H93.8359V15.629C93.8359 11.2479 91.4974 7.64355 86.728 7.64355ZM86.6664 10.6265C88.8819 10.6265 90.1128 12.1179 90.205 14.2619H82.8817C83.0048 12.0868 84.4817 10.6265 86.6664 10.6265Z" fill="white"/>
        <path d="M102.462 2.70312H98.7693V7.95428H95.8455V11.1236H98.7693V18.0837C98.7693 21.8744 101.015 23.9252 104.554 23.9252C106.092 23.9252 107.23 23.4902 108 22.993L107.016 20.0723C106.553 20.3519 105.877 20.5694 104.892 20.5694C103.446 20.5694 102.462 19.6373 102.462 18.0526V11.1236H107.138V7.95428H102.462V2.70312Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0">
        <rect width="108" height="24" fill="white"/>
        </clipPath>
        </defs>
      </svg>
      <div class="contact">
        <span>50 Milk Street</span>
        <span>Boston, MA 02109</span>
        <span>(855) 339-8008</span>
        <span>support@jobget.com</span>
      </div>
      <div>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="">Accessibility Policy</a>
      </div>
    </div>
    <div>
      <a href="#">JobGet for Job Seekers</a>
      <a href="#">JobGet Blog</a>
    </div>
    <div>
      <a href="#">JobGet for Employees</a>
      <a href="#">Our Partner</a>
    </div>
    <div>
      <a href="#">About JobGet</a>
      <a href="#">Press</a>
      <a href="#">Careers</a>
      <a href="#">Culture</a>
    </div>
    <div>
      <a href="">GET THE APP</a>
      <div>
        <%= image_tag 'apple_icon' %>
        <%= image_tag 'android_icon' %>
      </div>
      <div>
        <a href="" class="linkedin">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14ZM9.89358 11.5954H6.72088V21.128H9.89358V11.5954ZM10.1027 8.64657C10.0821 7.7119 9.41368 7 8.32832 7C7.24296 7 6.53338 7.7119 6.53338 8.64657C6.53338 9.56189 7.22198 10.2943 8.28713 10.2943H8.30741C9.41368 10.2943 10.1027 9.56189 10.1027 8.64657ZM21.3356 15.6623C21.3356 12.7343 19.7704 11.3716 17.6826 11.3716C15.9981 11.3716 15.244 12.2968 14.8229 12.9459V11.5957H11.6498C11.6916 12.4902 11.6498 21.1283 11.6498 21.1283H14.8229V15.8045C14.8229 15.5196 14.8435 15.2354 14.9274 15.0314C15.1567 14.4622 15.6787 13.873 16.5553 13.873C17.7038 13.873 18.1629 14.7471 18.1629 16.0281V21.1281H21.3355L21.3356 15.6623Z" fill="white"/>
        </svg>

        </a>
        <a href="" class="ig">    
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14ZM14.0007 6.53333C11.9729 6.53333 11.7184 6.5422 10.9219 6.57844C10.127 6.61485 9.58443 6.74069 9.10967 6.92534C8.61858 7.11605 8.20199 7.37116 7.78697 7.78635C7.37163 8.20137 7.11652 8.61795 6.92518 9.10889C6.74007 9.58381 6.61407 10.1265 6.57829 10.9211C6.54267 11.7176 6.53333 11.9722 6.53333 14.0001C6.53333 16.0279 6.54236 16.2816 6.57844 17.0781C6.615 17.873 6.74085 18.4156 6.92534 18.8903C7.11621 19.3814 7.37132 19.798 7.7865 20.213C8.20137 20.6284 8.61795 20.8841 9.10874 21.0748C9.58381 21.2595 10.1265 21.3853 10.9213 21.4217C11.7177 21.458 11.9721 21.4668 13.9998 21.4668C16.0278 21.4668 16.2815 21.458 17.0779 21.4217C17.8728 21.3853 18.416 21.2595 18.8911 21.0748C19.382 20.8841 19.798 20.6284 20.2129 20.213C20.6282 19.798 20.8833 19.3814 21.0747 18.8905C21.2582 18.4156 21.3842 17.8728 21.4216 17.0782C21.4573 16.2818 21.4667 16.0279 21.4667 14.0001C21.4667 11.9722 21.4573 11.7177 21.4216 10.9213C21.3842 10.1264 21.2582 9.58381 21.0747 9.10905C20.8833 8.61796 20.6282 8.20137 20.2129 7.78635C19.7975 7.37101 19.3822 7.11589 18.8906 6.92534C18.4146 6.74069 17.8717 6.61485 17.0768 6.57844C16.2804 6.5422 16.0268 6.53333 13.9984 6.53333H14.0007Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3309 7.8789C13.5297 7.87859 13.7515 7.8789 14.0007 7.8789C15.9943 7.8789 16.2306 7.88606 17.0179 7.92184C17.7459 7.95513 18.141 8.07677 18.4042 8.17897C18.7527 8.31431 19.0011 8.47609 19.2623 8.73742C19.5236 8.99876 19.6854 9.24765 19.821 9.5961C19.9232 9.85899 20.045 10.2541 20.0782 10.9821C20.1139 11.7692 20.1217 12.0057 20.1217 13.9984C20.1217 15.9911 20.1139 16.2275 20.0782 17.0146C20.0449 17.7426 19.9232 18.1377 19.821 18.4006C19.6857 18.7491 19.5236 18.9972 19.2623 19.2584C19.0009 19.5197 18.7528 19.6815 18.4042 19.8168C18.1413 19.9195 17.7459 20.0408 17.0179 20.0741C16.2308 20.1099 15.9943 20.1177 14.0007 20.1177C12.0069 20.1177 11.7706 20.1099 10.9835 20.0741C10.2555 20.0405 9.86039 19.9189 9.59703 19.8167C9.24858 19.6813 8.99969 19.5196 8.73836 19.2582C8.47702 18.9969 8.31524 18.7486 8.17959 18.4C8.07739 18.1371 7.95559 17.742 7.92246 17.014C7.88668 16.2269 7.87952 15.9904 7.87952 13.9965C7.87952 12.0026 7.88668 11.7674 7.92246 10.9802C7.95575 10.2522 8.07739 9.85712 8.17959 9.59392C8.31493 9.24547 8.47702 8.99658 8.73836 8.73524C8.99969 8.47391 9.24858 8.31213 9.59703 8.17648C9.86023 8.07382 10.2555 7.95248 10.9835 7.91904C11.6723 7.88792 11.9393 7.87859 13.3309 7.87704V7.8789ZM17.9864 9.11869C17.4917 9.11869 17.0904 9.51956 17.0904 10.0144C17.0904 10.5091 17.4917 10.9104 17.9864 10.9104C18.4811 10.9104 18.8824 10.5091 18.8824 10.0144C18.8824 9.51972 18.4811 9.11869 17.9864 9.11869ZM14.0007 10.1656C11.8831 10.1656 10.1662 11.8825 10.1662 14.0001C10.1662 16.1177 11.8831 17.8338 14.0007 17.8338C16.1183 17.8338 17.8346 16.1177 17.8346 14.0001C17.8346 11.8825 16.1183 10.1656 14.0007 10.1656Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0007 11.5112C15.3752 11.5112 16.4896 12.6254 16.4896 14.0001C16.4896 15.3746 15.3752 16.489 14.0007 16.489C12.626 16.489 11.5118 15.3746 11.5118 14.0001C11.5118 12.6254 12.626 11.5112 14.0007 11.5112Z" fill="white"/>
        </svg>

        </a>
        <a href="" class="twitter">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14ZM13.5807 11.3794L13.6101 11.8638L13.1204 11.8045C11.3382 11.5771 9.78113 10.806 8.45911 9.51085L7.81279 8.86824L7.64632 9.34278C7.29378 10.4006 7.51901 11.5178 8.25347 12.2691C8.64517 12.6844 8.55704 12.7437 7.88134 12.4965C7.64632 12.4174 7.44067 12.3581 7.42109 12.3878C7.35254 12.457 7.58756 13.3566 7.77362 13.7126C8.02823 14.2069 8.54725 14.6913 9.11522 14.978L9.59507 15.2054L9.02709 15.2153C8.4787 15.2153 8.45911 15.2252 8.51787 15.4328C8.71372 16.0754 9.48735 16.7576 10.3491 17.0541L10.9563 17.2618L10.4274 17.5781C9.64403 18.0329 8.72352 18.2899 7.803 18.3097C7.36233 18.3196 7 18.3591 7 18.3888C7 18.4877 8.19471 19.0413 8.88999 19.2588C10.9758 19.9014 13.4534 19.6246 15.314 18.5272C16.636 17.7462 17.958 16.194 18.575 14.6913C18.9079 13.8905 19.2409 12.4273 19.2409 11.7254C19.2409 11.2706 19.2703 11.2113 19.8187 10.6676C20.1418 10.3512 20.4454 10.0052 20.5041 9.90631C20.6021 9.71847 20.5923 9.71847 20.0929 9.88653C19.2605 10.1831 19.143 10.1436 19.5543 9.69869C19.8578 9.38233 20.2202 8.80892 20.2202 8.64085C20.2202 8.61119 20.0733 8.66063 19.9068 8.7496C19.7305 8.84847 19.3388 8.99676 19.045 9.08574L18.5162 9.25381L18.0364 8.92756C17.772 8.7496 17.3999 8.55188 17.204 8.49256C16.7046 8.35415 15.9407 8.37392 15.4903 8.5321C14.2662 8.97699 13.4926 10.1238 13.5807 11.3794Z" fill="white"/>
        </svg>
        </a>
        <a href="" class="tiktok">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0ZM14.3519 6H17.0484C17.0484 8.04058 18.6386 9.71015 20.6667 9.77971V12.516C19.353 12.4928 18.1085 12.0522 17.0944 11.3101V16.8985C17.0944 19.7044 14.8358 22 12.0472 22C9.25857 22 7 19.7276 7 16.8985C7 14.0928 9.21248 11.8435 11.955 11.7971V14.5333C10.7105 14.5797 9.69646 15.6232 9.69646 16.8985C9.69646 18.1971 10.7336 19.2638 12.0242 19.2638C13.3148 19.2638 14.3519 18.1971 14.3519 16.8985V6Z" fill="white"/>
        </svg>
        </a>
      </div>
    </div>
    <div class="divider"></div>
    <div>
      <div>Popular Industries</div>
      <a href="#">Retail Jobs</a>
      <a href="#">Sales Job</a>
      <a href="#">Accounting & Finance Jobs</a>
      <a href="">Admin Jobs</a>
      <a href="#">Hospitality & Catering Jobs</a>
      <a href="#">Part time Jobs</a>
      <a href="#">Travel Jobs</a>
      <a href="#">Creative & Design Jobs</a>
      <a href="#">Customer Services Jobs</a>
    </div>
    <div>
      <div>Popular Searches</div>
      <a href="">Hotel jobs</a>
      <a href="#">Bank jobs</a>
      <a href="#">Receptionist jobs</a>
      <a href="#">Non profit jobs</a>
      <a href="#">Caregiver jobs</a>
      <a href="#">Housekeeper jobs</a>
      <a href="#">Nanny jobs</a>
      <a href="#">Truck driver jobs</a>
      <a href="#">Security jobs</a>
    </div>
    <div>
      <div>Popular Locations</div>
      <a href="#">Jobs in Boston, MA</a>
      <a href="#">Jobs in New York, NY</a>
      <a href="#">Jobs in Los Angeles, CA</a>
      <a href="#">Jobs in Chicago,IL</a>
      <a href="#">Jobs in Dallas, TX</a>
      <a href="#">Jobs in Houston, TX</a>
      <a href="#">Jobs in Miami, FL</a>
      <a href="#">Jobs in Philadelphia, PA</a>
    </div>
  </div>
</footer>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= form_with model: @user, url: users_path, method: :post do |form| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Your Email</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <%= form.email_field :email, :required => 'required',class: "form-control", id: "recipient-name"%>
            </div>
        </div>
        <div class="modal-footer">
          <%= form.submit 'Send', class:"btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
 </div>
</div>



<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script>
  var swiper = new Swiper(".mySwiper", {
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
        },
      });
</script>

